* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: RGB(31, 29, 29);
}

.nav {
    height: 70px;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav > div {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 80px;
}

.btn {
    background-color: black;
    border: none;
    padding: 14px 26px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #ECEFF1;
}

.btn:hover {
    color: RGB(71, 69, 69);
}

.squareLogo {
    margin-top: 25px;
    padding: 0;
    width: 150px;
    height: 150px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
}

.headerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerFirst, .headerSecond {
    font: 6rem 'Serif', sans-serif;
    color: #ECEFF1;
}

.headerSecond {
    font-weight: bold;
}

.headerLinks {
    display: flex;
    flex-direction: row;
}

.divider {
    color: white;
    width: 50rem;
}

.aboutMeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
}

.aboutMeTitle {
    color: white;
    font-size: 3rem;
}

.aboutMe {
    color: white;
    width: 40rem;
    padding: 2.5rem 1rem;
    font-size: 1.12rem;
}

.listTileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    width: 45rem;
}

.listTileContainer > div {
    margin: 1rem;
}

.listTileDescription {
    width: 14rem;
}

.listTile {
    background-color: white;
    height: 5rem;
    width: 20rem;
    border-radius: 5px;
}

.listTile > div {
    display: flex;
    flex-direction: row;
}

.listTile > div > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 10px;
}

.listTileTitle {
    font-size: 20px;
    padding-bottom: 2px;
}

.listTileDescription {
    font-size: 14px;
}
